*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
/* body{
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
} */
.container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    width: 80vw;
    border: 2px solid black;
}

.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_image{
    height: 250px;
    width: 350px;
    border-radius: 10px;
}
.trip_desc{
    font-size: 1.1rem;
    /* padding: 2rem; */
    
}
/* img{
    height: 350px;
    wi/d
} */